# Miniserver acme-client unit.

[Unit]
Description=Automatic Certificate Management Environment (ACME) client (%I)
Requires=network.target nss-lookup.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/acme-client -n %I
ExecStart=/usr/bin/acme-client -v %I
# TODO: Add a script to reload nginx here. The only hurdle is, the acme-client
# user should not have permission to do that, so it can't run as that user.
# Maybe I'll just periodically sighup nginx.
# ExecStartPost=
PrivateTmp=true
User=acme
Group=www

# The settings below are substituted at deployment time by the deploy script.
RootImage={{ROOT_IMAGE}}
RootVerity={{ROOT_IMAGE}}.verity
RootHash={{ROOT_HASH}}

MountAPIVFS=true

# We take acme-client with its default configuration, which has seccomp support
# disabled. [1] Fortunately we can bring back a lot, albeit not at the same
# granularity, using systemd's sandboxing features.
#
# [1]: https://github.com/kristapsdz/acme-client-portable/blob/
#      e82c130dd942a74c50c1631042c1bc60fafe8bad/Linux-seccomp.md

MemoryDenyWriteExecute=true

# Ensure that the process can never gain new priviliges through execve, and that
# they cannot change kernel tunables.
NoNewPrivileges=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true

# Note: Setting ProtectSystem= has no advantage, as the squashfs filesystem is
# already read-only. Similarly, ProtectHome= is not useful because the paths it
# protect do not exist in our filesystem.

# Bind-mount /var/www/acme inside the chroot. This is where the response
# to the challenge will be written, it should be served by Nginx at
# .well-known/acme-challenge.
BindPaths=/var/www/acme
BindPaths=/etc/acme
BindReadOnlyPaths=/etc/acme-client.conf
